<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom CSS-->
         <link rel="stylesheet" href="style.css">
        <title>ChatApp</title>
      </head>
    <body>
      <div class="back-container">
        <div class="container-fluid front-container">
            <div class="back-top"></div>
            <div class="back-main"></div>
        </div>
    
        <div class="container front-container1">
            <div class="row chat-top ">
              <div class="col-sm-4 border-right border-secondary">
                <button class="btn btn-dark btn-top" data-toggle="modal" data-target="#createGroup">New Group</button>
                <span class="float-right mt-2">
                    <button class="btn btn-danger" onclick="logOut(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16" >
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                    </svg>
                    Logout</button>
                </span>
              </div>
              <div class="col-sm-8">
                <div class="row" id="groupTitle">
                    
                </div>
                <div class="row" id="Member-Container">
                </div> 
               

              </div>
            </div>
            <div class="row">
                <div class="col-sm-4 chat-groups">
                <div class="chat-groups-scroll" id="GroupName-Container">
                </div>
                </div>
                <div class="col-sm-8 chat-msgback">
                    <div class="chat-msg-scroll" id="Chat-container"></div>
                    <div class="msgBox-container" id="msgBox-container"></div>
                </div>
              </div>
            
            </div>
            

    <div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h5 class="text">Crate New Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
            <div class="modal-body">
                <form id="formGroup" onsubmit="createGroup(event)">
                    <lable>Enter Name:</lable>
                    <input type="text" id="gname">
                    <button class="btn btn-primary" >Create</button>
                </form>
            </div>
            </div>
        </div>
    </div> 
    <div class="modal fade" id="addGroupMember" tabindex="-1" role="dialog" aria-labelledby="addGroupMemberLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
            
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h5 class="text">Add Members</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
            <div class="modal-body">
                <ul class="list-group  memberList addMember-scroll" id="memberList">
                  </ul>
            </div>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/chatApp.js"></script>
</body>
</html>