<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body style="background-image:url('chat.jpg')">
<form id="ChatForm" method="post" onsubmit="pushMessage(event)">
<h1 class="text-center text-white">Chat App</h1>
<div class="row justify-content-center text-white">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="Chat-container">

   <!--  -->

</div>
<div class="col-md-3"></div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <input type="text" class="form-control" name="msgtext" id="msgtext">
    </div>
    <div class="col-md-3">
        <button class="btn btn-light" id="btnSend">send</button>
    </div>
</div>
</form>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/chatApp.js"></script>
</body>
</html>