<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body style="background-image:url('chat.jpg')">

<h1 class="text-center text-white">Chat App</h1>

<div class="container">
<div class="row justify-content-center text-white">
    <div class="col-md-3">
        <button class="btn btn-dark" data-toggle="modal" data-target="#createGroup">New Group</button>
        <div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Crate New Table</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                <div class="modal-body">
                    <form>
                        <lable>Enter Name:</lable>
                        <input type="text">
                        <button class="btn btn-primary" onclick="createGroup(event)">Create</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <div id="GroupName-Container"></div>
    </div>
    <div class="col-md-6" id="Chat-container">
   <!--  -->
    </div>
<div class="col-md-3"><button class="btn btn-danger" onclick="logOut(event)">Logout</button></div>
</div>
<form id="ChatForm" method="post" onsubmit="pushMessage(event)">
<div class="row justify-content-center mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <input type="text" class="form-control" name="msgtext" id="msgtext">
    </div>
    <div class="col-md-3">
        <button class="btn btn-light" id="btnSend">send</button>
    </div>
</div>
</div>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/chatApp.js"></script>
</body>
</html>